.work{
   padding: $space-lg 
}
.work__box{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
}
.box{
    color:$white;
    width:250px;
    height:250px;
    border-radius: 12px;
    position:relative;
    overflow: hidden;
    margin-bottom:$space-md;

&:hover .box__image{
transform: scale(1.1);
transition: all linear 150ms;
}
}

.box__image{
    transform: scale(1);
    transition: all linear 150ms;
  
}

.box__content{
position: absolute;
background-color: rgba(0,0,0, .5);
top:0;
left:0;
right:0;
bottom: 0;
display:flex;
justify-content: center;
align-items: center;
flex-flow: column nowrap;
}
.box__text{
    transform-origin: top;
    color:white;
}