/*========================================================
                         COLORS    
==========================================================*/


/*=========================================================
                        GREY
*/

$black:#1d1d21;
$gray-10:#2e2e31;
$gray-06:#7b7a7d;
$gray-04:#a5a5a6;
$gray-03:#bbbbbc;
$gray-02:#d1d0d2;
$gray-01:#e8e7e8;
$white: white;
/*=========================================================
                        DANGER
*/

$danger-00: #ffebe9;
$danger-01: #ffb1a6;
$danger-02: #ff7664;
$danger-03: #ff3b21;
$danger-04: #b32917;
$danger-05: #66180d;
$danger-06: #190603;

/*=========================================================
                        WARNING
*/

$warning-00: #fffceb;
$warning-01: #fff1af;
$warning-02: #ffe774;
$warning-03: #ffdc38;
$warning-04: #b39a27;
$warning-05: #665816;
$warning-06: #191606;
/*=========================================================
                        SUCCESS
*/

$success-00: #e6faf2;
$success-01: #99eccc;
$success-02: #4ddda6;
$success-03: #00cf80;
$success-04: #00915a;
$success-05: #005333;
$success-06: #00150d;
/*=========================================================
                        PRIMARY
*/

$primary-00: #e6f6fd;
$primary-01: #99daf8;
$primary-02: #4dbef2;
$primary-03: #00a2ed;
$primary-04: #0071a6;
$primary-05: #00415f;
$primary-06: #001018;
/*=========================================================
                        SECONDARY
*/

/*=========================================================
                        ACCENT
*/

$accent-00: #eef3f3;
$accent-01: #bad0cd;
$accent-02: #86aca8;
$accent-03: #528982;
$accent-04: #39605b;
$accent-05: #213734;
$accent-06: #080e0d;
/*========================================================
                         SPACING
==========================================================*/


/*=========================================================
                        RESPONSIVE SPACING
*/

$space-unit: 1rem;
$space-xxsm: 0.25 * $space-unit; // 4px
$space-xsm:0.5 * $space-unit; // 8px
$space-sm:0.75 * $space-unit; //12px
$space-md:1.25 * $space-unit; //20px
$space-lg:2 * $space-unit; //32px
$space-xl:3.25 * $space-unit; //52px
$space-xxl:5.25 * $space-unit; //84px
/*=========================================================
                        FIXED SPACING
*/

$space-fixed-xxsm: 0.25rem;
$space-fixed-xsm:0.5rem;
$space-fixed-sm:0.75rem;
$space-fixed-md:1.25rem;
$space-fixed-lg:2rem;
$space-fixed-xl:3.25rem;
$space-fixed-xxl:5.25rem;
/*========================================================
                         TYPE
==========================================================*/


/*=========================================================
                        FONT FAMILY
*/

$primary-font : 'Roboto', sans-serif;
$secondary-font : 'Space Mono', monospace;
/*=========================================================
                        FONT SIZE
*/

$font-base: 1rem;
$font-size-xxxsm: 0.5 * $font-base; //caption && overline
$font-size-xxsm: 0.75 * $font-base; //body2
$font-size-xsm: 1 * $font-base; //body
$font-size-sm: 1.25 * $font-base; //title footer
$font-size-md: 1.5 * $font-base;//title module
$font-size-lg: 1.75 * $font-base;//title section
$font-size-xlg: 2 * $font-base;//title secondary pages
$font-size-xxlg: 2.25 * $font-base; //title on the homepage
/*=========================================================
                        FONT-WEIGHT
*/

$font-weight-light:300;
$font-weight-normal:400;
$font-weight-bold:700;
/*=========================================================
                        LINE-HEIGHT
*/

$line-height-base: 1.5;
$line-height-title: 1.25;
/*========================================================
                         SURFACE
==========================================================*/



/*========================================================
                         SHADOW
==========================================================*/
