



$primary-color-dark:$primary-05;
$primary-color:$primary-03;
$primary-color-light:$primary-01;
$primary-color-bg:$primary-02;

$accent-color-dark:$accent-05;
$accent-color:$accent-03;
$accent-color-light:$accent-02;
$accent-color-bg:$accent-04;



$success-color: $success-03; //green
$error-color: $danger-03; //red
$warning-color: $warning-03; //yellow