/*========================================================
                        STYLE

- Use margin classes only for responsive spacing, for fixed spacing
use only the space-fixed variables

- Always apply padding inline
==========================================================*/




/*========================================================
                         PADDING
==========================================================*/


/*=========================================================
                        VARIABLES
*/

$padding-sm:$space-xxsm; 
$padding-md:$space-xsm; 
$padding-lg:$space-sm; 
$paddingxlg:$space-md; 
/*========================================================
                         OTHERS
==========================================================*/


