/*========================================================
                         HEADINGS
==========================================================*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
/*=========================================================
                        TITLE
*/

// Usage: for subtitle use 2 titles down
.title {
  font-family: $secondary-font;
  font-weight: $font-weight-bold;
  line-height: $line-height-sm;
  margin: 0 0 $space-sm;

}
.sub-title{
    color: $text-subtle-color;
    font-family: $primary-font;
}
.title--primary-00 {
  font-size: $font-size-xxlg;
  color:$text-inverse-color;
  @include media-breakpoint-up(md){
    color:$black;
}
}

.title--primary-01 {
  font-size: $font-size-xlg;
}

.title--secondary {
  font-size: $font-size-lg;
}
.title--terziary {
  font-size: $font-size-md;
}

.title--quartenary {
  font-size: $font-size-sm;
}

/*========================================================
                         PARAGRAPHS
==========================================================*/


p {
  margin: 0;
}
/*=========================================================
                        TEXT
*/

.text{
    color: $text-color;
    &:not(:last-child){
      margin: 0 0 $space-sm;
  
    }
}
.sub-text{
    color: $text-subtle-color;
}
.text--primary{
    font-size: $font-size-xsm;
}

.text--secondary{
    font-size: $font-size-xxsm
}
/*========================================================
                         OTHERS
==========================================================*/


/*=========================================================
                        CAPTION
*/

.caption{
    font-size: $font-size-xxxsm;
    font-style: italic;
}
/*=========================================================
                        OVERLINE
*/

.overline{
    font-size: $font-size-xxxsm;
    text-transform: uppercase;
    margin:0;
    text-align:center;

}
