/*========================================================
                         MARGIN
==========================================================*/


/*=========================================================
                        STACK
*/

.margin-bottom--sm {
  margin-bottom: $space-xsm;
}
.margin-bottom--md {
  margin-bottom: $space-sm;
}
.margin-bottom--lg {
  margin-bottom: $space-md;
}
.margin-bottom--xlg {
  margin-bottom: $space-lg;
}
/*=========================================================
                        INLINE
*/

.margin-left--sm {
  margin-left: $space-xxsm;
}
.margin-left--md {
  margin-left: $space-xsm;
}
.margin-left--lg {
  margin-left: $space-sm;
}
.margin-left--xlg {
  margin-left: $space-sm;
}




.center{
  text-align:center;
}